@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100;400;700&display=swap");

:root {
  --header-height: 3rem;
  --main-transition: all 0.4s ease-in-out;

  /* Colors */
  --primary-color: hsl(26, 100%, 55%);
  --alternate-primary-color: hsl(25, 100%, 94%);
  --title-color: hsl(220, 13%, 13%);
  --first-color: hsl(219, 9%, 45%);
  --second-color: hsl(220, 14%, 75%);
  --third-color: hsl(223, 64%, 98%);
  --body-color: hsl(0, 0%, 100%);
  --shadow-color: hsl(0, 0%, 0%);
  --swiper-theme-color: var(--first-color) !important;
  --swiper-navigation-size: 20px !important;
  /* FONT AND TYPOGRAPHY */
  --body-font: "Kumbh Sans", sans-serif;

  /* .5rem =8px, 1rem =16px, 1.5rem =24px ... */
  --big-font-size: 2rem;
  --normal-font-size: 1rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* FONT WEIGHT */
  --font-medium: 400;
  --font-semi-bold: 700;

  /* Margins Bottom */
  /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */

  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* Z INDEX */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* Base Styles */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0 0 var(--header-height) 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  line-height: var(--normal-font-size);
}

h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Utilities */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.grid {
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* Reusable classes */
nav {
  height: 120px;
  background-color: var(--body-color);
  z-index: 3;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}
.cart-items {
  position: absolute;
  top: -8px;
  right: -8px;
  background: var(--primary-color);
  padding: 0 5px;
  border-radius: 30%;
  color: var(--body-color);
}

/* .products-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
} */

.image-information-area {
  display: flex;
  padding: 10px 20px;
  line-height: 2rem;
}

.image-information-area h4 {
  color: var(--primary-color);
  text-transform: uppercase;
}

.image-information-area h1 {
  font-size: var(--big-font-size);
  padding: 15px 0;
}

.image-information-area p {
  line-height: 1.5rem;
  color: var(--first-color);
}

.discount-percentage {
  font-size: var(--h3-font-size);
  background-color: var(--third-color);
  padding: 10px;
  color: var(--primary-color);
  border-radius: var(--mb-0-5);
  justify-self: center;
}

.amount {
  margin-left: 75px;
  font-size: var(--h3-font-size);
  color: var(--second-color);
}

.cart-increase {
  background-color: var(--third-color);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 20px;
  margin: 10px 0 20px 0;
  align-items: center;
  height: 50px;
  border-radius: 10px;
}

.cart-increase .fa {
  color: var(--primary-color);
  padding: 10px;
}

.cart-increase .num-available {
  font-weight: bolder;
}

.add-cart-btn {
  padding: 30px;
  background: var(--primary-color);
  color: var(--body-color);
  border: none;
  border-radius: var(--mb-0-75);
  font-size: var(--h3-font-size);
  text-align: center;
}

.add-cart-btn:hover {
  opacity: 0.8;
}

.add-cart-btn .fa {
  margin-left: -1rem;
  margin-right: 1rem;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clear-cart {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 1;
  visibility: hidden;
}

.transparentBcg {
  visibility: visible;
}

.cart-area {
  top: 70px;
  position: fixed;
  background-color: var(--body-color);
  overflow: scroll;
  z-index: 3;
  max-height: 50%;
  min-height: 220px;
  border-radius: var(--mb-0-5);
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.cart-area::-webkit-scrollbar {
  display: none;
}

.cart-header {
  width: 100%;
  height: 60px;
  padding: 20px;
  border-bottom: 1px solid var(--second-color);
}

.cart-products {
  align-items: center;
  justify-content: center;
}

.cart-message {
  height: 30px;
  margin: 0 auto;
  padding: 40px;
  width: 30%;
  min-width: fit-content;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: var(--body-color);
  position: fixed;
  bottom: 0;
  top: 70%;
  right: 0;
  left: 0;
  z-index: 1;
}
/* 
.cart-empty {
  visibility: hidden;
} */

.cart-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.checkout-btn {
  padding: 20px 100px;
  margin: 15px 10px;
  border: none;
  color: var(--body-color);
  background-color: var(--primary-color);
  border-radius: 10px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: row;
  margin: 15px 0;
  justify-content: center;
  align-items: center;
}

.content-info {
  margin: 0 10px;
  line-height: var(--mb-1-5);
  color: var(--first-color);
}

.content img {
  width: 20%;
  height: 20%;
  border-radius: var(--mb-0-5);
}

.total-amount {
  font-weight: bolder;
}

.trash-btn {
  color: var(--second-color);
}

@media screen and (min-width: 350px) and (max-width: 800px) {
  /* Navigation section */
  nav {
    padding: var(--normal-font-size);
  }

  nav.flex {
    flex-direction: row;
    justify-content: space-between;
  }

  nav div {
    display: flex;
  }

  .list-items-overlay {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    transition: var(--main-transition);
  }

  .list-items {
    background-color: var(--body-color);
    position: fixed;
    width: 70%;
    height: 100%;
    z-index: 10;
    left: -600px;
    top: 0;
    overflow: hidden;
    transition: var(--main-transition);
  }

  .show-list-items {
    transition: var(--main-transition);
    transform: translateX(600px);
  }

  .transparentBcg {
    visibility: visible;
  }

  .close-btn {
    position: absolute;
    padding: 20px;
    cursor: pointer;
    font-size: var(--h2-font-size);
    color: var(--first-color);
  }

  .close-btn:hover {
    color: var(--second-color);
  }

  .list-items ul {
    margin-top: 5rem;
    padding: var(--mb-0-25);
  }

  .list-items li {
    margin: var(--mb-2);
  }

  .list-items a {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    font-size: var(--h2-font-size);
  }

  .logo {
    font-size: var(--big-font-size);
    margin-left: var(--mb-1);
    letter-spacing: -1px;
  }

  #profile {
    width: 30px;
    height: 30px;
  }

  .nav-icon {
    font-size: var(--h1-font-size);
  }

  .cart-btn {
    margin-right: var(--mb-1);
  }

  .cart-increase {
    width: 100%;
  }

  .add-cart-btn {
    margin-top: var(--mb-0-5);
  }

  /* Showcase */
  /* Swiper classes */

  .swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .swiper-button-next,
  .swiper-button-prev {
    background-color: var(--body-color);
    padding: 20px;
    border-radius: 50%;
  }
  /* End of swiper classes */

  .showcase {
    display: flex;
    flex-direction: column;
  }

  .imgs {
    width: 100%;
    height: 320px;
  }

  article {
    margin-bottom: 20px;
    border-bottom: 5px solid var(--second-color);
    border-radius: 20px;
  }

  /* .image-area {
    position: relative;
  } */

  .image-information-area {
    flex-direction: column;
  }

  .cart-area {
    margin: 0 3%;
    width: 92vw;
    overflow: scroll;
  }

  .add-cart-btn {
    width: 100%;
  }

  .hidden {
    display: none;
  }
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 1500px;
    margin: 0 auto;
    /* overflow: auto; */
    padding: 0 100px;
  }

  .fa-bars,
  .close-btn {
    display: none;
  }

  nav.flex {
    flex-direction: row;
    justify-content: space-between;
  }

  .nav li:hover {
    border-bottom: var(--primary-color) 2px solid;
  }

  #profile {
    width: 30px;
    height: 30px;
  }

  .nav-icon {
    font-size: var(--h1-font-size);
  }
  .nav-icon:hover {
    opacity: 0.4;
  }

  .cart-btn {
    margin-right: var(--mb-1);
    margin: 0 40px;
  }

  .cart-avatar-btn {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
    align-items: center;
  }

  .cart-area {
    left: 60%;
    right: 5%;
    border-radius: 20px;
  }

  .list-items {
    width: 800px;
    display: block;
  }

  .list-items ul {
    display: flex;
    flex-direction: row;
  }

  .list-items li {
    padding: 30px 20px;
    margin: 5px 10px;
  }

  article {
    margin-top: 50px;
  }

  #img-container {
    margin: 25px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .image-information-area {
    flex-direction: column;
  }

  .discount-percentage {
    font-size: var(--smaller-font-size);
    padding: 2px 7px;
  }

  /* Cart section */
  .amount {
    margin: 0;
    display: block;
  }

  .cart-functions {
    display: flex;
    flex-direction: row;
  }
  .cart-increase {
    width: 40%;
  }

  .add-cart-btn {
    padding: 10px;
    height: 50px;
    width: 60%;
    border-radius: 10px;
    margin: 10px 10px;
  }

  /* Swiper */
  .swiper {
    width: 50%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  .swiper {
    width: 60%;
    height: 300px;
    margin-left: 0;
    margin-right: 0;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    margin-bottom: 25px;
    height: 80%;
    width: 80%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 50%;
    height: 100%;
    opacity: 0.4;
  }

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
  }

  .swiper-slide img {
    display: block;
    width: 70%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .swiper-slide img:hover {
    border: var(--primary-color) 3px solid;
    cursor: pointer;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }

  .hidden {
    display: block;
  }
}
