@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
:root {
  /* Coloring */
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-cyan: hsl(160, 60%, 50%);
  --darker-grayish-cyan: hsl(186, 14%, 43%);
  --dark-grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --lighter-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);

  /* Typography */
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
  --medium-font-size: 1.5rem;
  --big-font-size: 1.75rem;
  --font-family: 'Space Mono', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  font-family: 'Space Mono', monospace;
  margin: 0;
}

body {
  background-color: var(--light-grayish-cyan);
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

input {
  background-color: var(--lighter-grayish-cyan);
  padding: 1rem;
  width: 270px;
  border: none;
  height: 30px;
  text-align: right;
}
input.empty:focus {
  outline: red solid 2px;
}

input::placeholder {
  text-align: right;
  font-weight: bold;
  opacity: 0.2;
}

button {
  border: none;
}

.title {
  text-align: center;
  color: var(--very-dark-cyan);
  margin: 3rem;
  letter-spacing: 0.5rem;
  font-size: var(--normal-font-size);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  padding: 1.5rem;
  max-width: 800px;
  flex-wrap: wrap;
  border-radius: 2rem;
  gap: 30px;
}

.container h3 {
  font-size: var(--normal-font-size);
  font-weight: lighter;
  padding-bottom: 0.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 290px;
  border-radius: 1rem;
  height: 300px;
}

.column {
  position: relative;
}

.column i {
  position: absolute;
  left: 10px;
  top: 42px;
  font-size: var(--small-font-size);
  opacity: 0.2;
}

.card-dark {
  background-color: var(--very-dark-cyan);
  padding: 1.5rem;
  color: var(--white);
}

.card-column {
  display: flex;
  justify-content: space-between;
  padding-block: 1rem;
}

.card-column-text {
  color: var(--dark-cyan);
  font-weight: bold;
  font-size: var(--big-font-size);
}

.card-column-span h3 {
  margin-bottom: -0.5rem;
}

.card-column-span p {
  color: var(--light-grayish-cyan);
  font-size: var(--small-font-size);
}

.btn {
  padding: 0.5rem 1rem;
  width: 5rem;
  border-radius: 0.3rem;
  font-weight: bold;
  margin: 0.3rem;
  border: none;
}

.btn-light {
  background-color: var(--lighter-grayish-cyan);
  color: var(--very-dark-cyan);
  font-weight: lighter;
}

.btn-dark {
  background-color: var(--very-dark-cyan);

  color: var(--white);
}

button:hover {
  background-color: var(--dark-grayish-cyan);
}

.btn-reset {
  padding: 0.75rem 2rem;
  text-transform: uppercase;
  background-color: var(--dark-cyan);
  color: var(--very-dark-cyan);
  border-radius: 0.25rem;
  font-weight: bold;
}

.input-with-item {
  display: flex;
  justify-content: space-between;
}
